@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --error: hsl(13, 70%, 61%);

    /* Font */
    --space-mono: 'Space Mono', monospace;
  }

  html {
    font-family: var(--space-mono, system);
  }

  body {
    @apply bg-[var(--light-grayish-cyan)] font-bold min-h-dvh grid md:block;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    direction: rtl;
  }

  .calculator {
    width: min(57.2rem, 100%);
    box-shadow: 0 2rem 2.75rem 0 rgba(79, 166, 175, 0.2);
  }
}
